
@{
    ViewBag.Title = "AdminClerkHome";
    Layout = "~/Views/Shared/_AdminClerk.cshtml";
}

<h2>Admin Clerk Home</h2>

@*<div class="row">

    <div class="col col-sm-4 col-md-4  col-lg-4">
        <div class="col col-lg-4">
            <img src="~/Images/user1.png" class="img-circle img-responsive user-image img-rounded img-thumbnail" alt="User Image" />
        </div>
        <div class="col col-lg-4">
            Name : <br /> Surname : <br /> Email :
        </div>
    </div>

</div>*@