
@{
    ViewBag.Title = "BadRequest";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<h2>Invalid Request Account does not exist</h2>

<p>Error 404, Your account doesn't exist. Please be Advised only authorized users can access the system<br/> @Html.ActionLink("Please Click here to log in", "BadRequest", "Account")</p>
